.content {
  width: 95%;
  max-width: 60rem;
  margin: 2rem auto;
  font-size: 1.25rem;
  line-height: 2rem;
  background-color: #dfdbe6;
  border-radius: 6px;
  padding: 1rem;
}

.content p {
  color: #343036;
}

.content .image {
  margin: 1rem auto;
  width: 100%;
  max-width: 600px;
}

@media (min-width: 768px) {
  .content {
    padding: 2rem;
  }
}
